{% layout "layouts/base.liquid" %}

{% block content %}

<main class="content">
    <section class="hero">
        <h1>{{ subject.name }}</h1>
        <img src="{{ subject.image }}">
    </section>
    
    <div class="one">
        <section>
            <p id="sub-title">Periode: {{ subject.date }}</p>
        </section>
        
    {% for item in subject.content %}
            <section>
                <h2>{{ item[0] }}</h2>
                {% for subitem in item %}
                    {% if forloop.index0 != 0 %}
                        <p>{{ subitem }}</p>
                    {% endif %}
                {% endfor %}
            </section>
        
    {% endfor %}
    </div>
</main>

{% endblock %}