{% layout "layouts/base.liquid" %}

{% block content %}

<main class="content">
    <section class="title">
        <h1>{{ speaker.description }}</h1>
        <img src="{{ speaker.image }}">
    </section>
    <div class="two">
        <div>
            <section class="left">
                <p id="sub-title">{{ speaker.name }} - {{ speaker.date }}</p>
                {% for value in speaker.content.one %}
                    <p>{{ value }}</p>
                {% endfor %}
            </section>
            <section class="left">
                <h2>Wat neem ik mee?</h2>
                    {% for item in speaker.content.two %}
                        <p>{{ item }}</p>
                    {% endfor %}
            </section>
        </div>
        <div>
            <section class="right">
                <h2>Waar ging het over?</h2>
                    {% for item in speaker.content.three %}
                        {% if item[0] contains "code" %}
                            <p style="color: red;"> {{ item[1] }}</p>
                        {% else %}
                            <p>{{ item[1] }}</p>
                        {% endif %}
                    {% endfor %}
            </section>
        </div>
    </div>
</main>

{% endblock %}



{% comment %} {% layout "layouts/base.liquid" %}

{% block content %}

<main class="content">
    <section class="title">
        <div>
            <h1>{{ speaker.name }}</h1>
            <p>Onderwerp: {{ speaker.description }}</p>
            <p>Datum: {{ speaker.date }}</p>
        </div>
        <img src="{{ speaker.image }}">
    </section>
    <div class="two">
        <section class="left">
            <h2>Waar ging het over?</h2>
                {% for  value in speaker.content.one %}
                    <p>{{ value }}</p>
                {% endfor %}
        </section>
        <section class="right">
            <h2>Wat neem ik mee?</h2>
                {% for value in speaker.content.two %}
                    <p>{{ value }}</p>
                {% endfor %}
        </section>
    </div>


    
</main>

{% endblock %} {% endcomment %}

