{% layout "layouts/base.liquid" %}

{% block content %}

<main class="content">
    <section class="hero">
        <h1>{{ subject.name }}</h1>
        <img src="{{ subject.image }}">
    </section>
    <div class="two">
        <div>
            <section class="left">
                <p id="sub-title">Periode: {{ subject.date }}</p>
                <h2>Omschrijving van het vak</h2>
                {% for item in subject.content.one %}
                    <p>{{ item }}</p>
                {% endfor %}
            </section>
            <section class="left">
                <h2>Reflectie</h2>
                {% for item in subject.content.two %}
                    <p>{{ item }}</p>
                {% endfor %}
            </section>
        </div>
        <div>
            <section class="right">
                <h2>Gemaakte opdracht</h2>
                {% for item in subject.content.three %}
                    <p>{{ item }}</p>
                {% endfor %}
            </section>

        </div>

    </div>

</main>

{% endblock %}